# Ignore everything
**

# Allow files and directories needed for the application
!package.json
!package-lock.json
!yarn.lock
!public/
!build/
!dist

# Ignore unnecessary files and directories
.env
.env.example
docker-compose.example.yml
node_modules
LICENSE
.gitignore
jest.config.cjs
jest.config.js
Dockerfile
.dockerignore
.npmignore
.git
.idea
.vscode
.github
__tests__
*.log
*.csv
*.lock
*.yml
*.yaml
*.txt
*.md
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/tests/