# This is just example data!
# Application settings
ENV=dev | production
PORT=3000

# Token settings
TOKEN_SECRET=yourExampleTokenSecret123
COOKIE_AGE=86400000
TOKEN_AGE=3h

# MongoDB settings
MONGODB_URI=mongodb://localhost:27017/exampleDB

# Redis settings
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=exampleRedisPassword123
